<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /> en el <head></head>
<body>
    <header>
        <div class="cabecera">
            <div class="logo"> 
        <img src="imagenes/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
        </div>
        <div class="form" action="#" method="GET">
                <input type="text">
                <button class="submit"><i class="fa fa-search"></i></button>
            </div>
        <p>barra de busqueda</p>
        <div> 
        <p></p> <i class="fas fa-hand-holding-usd"> </i>comprá en cuotas y sin tarjeta de credito</p>
        </div>
    </div>
        <nav> 
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul>
                <li>Creá tu cuenta</li>
                <li>Ingresá</li>
                <li>Mis compras</li>
            </ul>
        </nav>
    </header>
    <main>
        <article>
            <img src="imagenes/img-cafetera-moulinex.jpg" alt="cafetera">
            <p>$6.770</p>
            <p>40% OFF</p>
            <h4>Cafetera Moulinex</h4>
        </article>
        <article>
            <img src="imagenes/img-macbook-pro-2019.jpg" alt="macbook">
            <p>$230.000</p>
            <p>20% off</p>
            <h4>MacBook Pro 2019</h4>
        </article>
        <article>
            <img src="imagenes/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10">
            <p>$70.500</p>
            <p>10% off</p>
            <h4>Samsung Galaxy S10</h4>
        </article>
        <article>
            <img src="imagenes/img-tv-samsung-smart.jpg" alt="SmarthTV">
            <p>$23.200</p>
            <p>5% off</p>
            <h4>SmartTv Samsung 43</h4>
        </article>
        <nav>
        <article>
            <img src="imagenes/img-cafetera-moulinex.jpg" alt="cafetera"
            <p>$6.770</p>
            <p>40% off</p>
            <h4>Cafetera Moulinex</h4>
        </article>
        <article>
            <img src="imagenes/img-macbook-pro-2019.jpg" alt="macbook">
            <p>$230.000</p>
            <p>20% off</p>
            <h4>MacBook Pro 2019</h4>
        </article>
        <article>
            <img src="imagenes/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10">
            <p>$70.500</p>
            <p>10% off</p>
            <h4>Samsung Galaxy S10</h4>
        </article>
        <article>
            <img src="imagenes/img-tv-samsung-smart.jpg" alt="SmarthTV">
            <p>$23.200</p>
            <p>5% off</p>
            <h4>SmartTv Samsung 43</h4>
        </article>
    </nav>
    </main>
    <footer>
        <div>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <h3>
            Envío gratis desde $ 2.500
        </h3>
        <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.
        </p>
        <div>
            <h3>Seguridad, de principio a fin</h3>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
            </p>
        </div>
        <div>
            <h3>
                Copyright © 1999-2020 MercadoLiebre S.R.L.
            </h3>
        </div>
    </footer>
</body>
</html>